@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="User" width="32" height="32" class="rounded-circle me-2">
<span class="d-none d-md-inline">@ViewBag.Username</span>

            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/Account/Profile"><i class='bx bx-user me-2'></i>Thông tin cá nhân</a></li>
                <li><a class="dropdown-item" href="/Account/ChangePassword"><i class='bx bx-lock me-2'></i>Đổi mật khẩu</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item"><i class='bx bx-log-out me-2'></i>Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="d-flex align-items-center">
        <a href="/Account/Login" class="btn btn-outline-primary me-2">Đăng nhập</a>
        
    </div>
}
